*{
    margin:o;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;

}
.active{
    color: brown;
    text-decoration: underline;
    font-weight: bold;
}
body , html{
    overflow-x: hidden;
}
/* navbar */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('./image/img1.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: orangered;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background:crimson;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: red;
    border-radius: 30px;
    color: aliceblue;
}
.menu-btn{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 50px;
    cursor: pointer;
    display: none;
}
/* Events */
.title h1{
    text-decoration: underline;
    font-weight: bold;
}
.row .col h4{
    font-size: 4vmin;
    text-decoration: underline;
    font-weight: bold;
    margin: 20px auto;
}
section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: aqua;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row{
    margin-top: 50px;
}
p{
    color: rgb(61, 16, 112);
    padding: 0px 40px;
}
.events .ctn{
    margin-top: 30px;
}
.explore{
    width:100%;
    height: 120vh;
    background-image: url('./image/img5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1{
    font-size: 7vmin;
}
.explore-content.line{
    margin: 50px;
}
.explore-content p{
    color: white;
}
.explore-content.ctn{
    margin-bottom: 40px;
}
.content-col{
    width: 40%;
}
.image-col{
    width: 60%;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img{
    width: 250px;
    margin: 10px;
}
.content-col h1{
    font-size: 7vmin;
    color: rgb(102, 99, 94);
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding: 0;
    margin: 20px auto;
}
.content-col .ctn{
    margin-left: -100px;
}
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: blueviolet;
    text-align: center;
}
.footer p{
    color: #c59999;
    margin: 20px auto;
    padding: 20px auto;
}
/* mobile device */
@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position:absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #c59999;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin: 0px;
        border-bottom-right-radius: 20%;
        border-bottom-left-radius: 20%;
    }
    .nav-links li{
        margin: 30px auto;
    }
    /* Events */
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }
    /* explore */
    .explore-content{
        width: 100%;
    }
    .tours .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img{
        width: 90%;
    }
    .footer{
        padding: 10px;
    }
}
img{
    transition: transform .3s ease;
}
img:hover{
    transform: scale(1.1);
}
